@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  color: #c78665;
}

@layer components {
  .btn {
    @apply font-bold py-2 px-4 rounded;
  }

  .btn-blue {
    @apply bg-[#c78665] text-white;
  }

  .btn-blue:hover {
    @apply bg-[#c78665];
  }

  .vid-recorder,div[class*="render-actions__ActionsWrapper"]:has(div[class*="stop"]) {
    top: unset;
    bottom: 5%;
  }

  .vid-recorder,div[class*="switch-camera-view"] {
    display: none;
  }

}